!!! 5
%html{ lang: "ja" }
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "description", content: "実習用のサンプルコードです" }
    %meta{ name: "viewport", content: "width=1024" }
    %title 実習01のサンプルです
  %body
    %header
      %h1 実習01のサンプルです
    %section
      %h1 h1のタイトルです
      %h2 h2のタイトルです
      %h3 h3のタイトルです
      %h4 h4のタイトルです
      %h5 h5のタイトルです
      %h6 h6のタイトルです

      %p あのイーハトーヴォのすきとおった風、<strong>夏でも底に冷たさをもつ青いそら</strong>、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

      %ul
        %li 実習01：HTMLとCSS
        %li 実習02：部品を作る
        %li 実習03：部品を組み合わせる
