.box1 {
  display: block;
  border: 10px solid #cab68c;
  background-color: #f9f7f2;
  width: 200px;
  height: 200px;

  margin: 10px;
}

.box2 {
  display: block;
  border: 10px solid #cab68c;
  background-color: #f9f7f2;
  width: 200px;
  height: 200px;

  margin: 10px;
  box-sizing: border-box;
}
