.cleafix {
  overflow: hidden;
}

.main1 {

  width: 50%;
  float: left;
  background-color: #dee4ea;
}

.menu1 {
  width: 50%;
  float: left;
  background-color: #e2d6bd;
}

.main2 {

  width: 50%;
  float: left;
  background-color: #dee4ea;
  border: 1px solid #8198ae;
  /*box-sizing: border-box;*/
}

.menu2 {
  width: 50%;
  float: left;
  background-color: #e2d6bd;
}
