!!! 5
%html{ lang: "ja" }
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "description", content: "実習用のサンプルコードです" }
    %meta{ name: "viewport", content: "width=1024" }
    = stylesheet_link_tag "01"
    %title 実習03のサンプル
  %body
    %h1 margin と padding

    %h2 margin
    .box1 これは .box1 です
    .box2 これは .box2 です

    %h2 padding
    .parent-box
      .box2 これは .box2 です
