!!! 5
%html{ lang: "ja" }
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "description", content: "実習用のサンプルコードです" }
    %meta{ name: "viewport", content: "width=1024" }
    = stylesheet_link_tag "site"
    %title 実習03のサンプル
  %body
    .flex-container
      .flex-item アイテム1
      .flex-item アイテム2アイテム2
      .flex-item アイテム3
      .flex-item アイテム4
