!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '実習用のサンプルコードです' }
    %meta{ name: 'viewport', content: 'width=1024' }
    = stylesheet_link_tag 'site'
    %title 実習05のサンプル
  %body
    %h1 実習05のサンプル
