!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '' }
    %meta{ name: 'viewport', content: 'width=1024' }
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet'}
    = stylesheet_link_tag 'site'
    %title 実習06
  %body

  %h1
    %img{ src: "./images/logo.png" }
