$white: #ffffff;

$green: #2fc3a7 !default;

$navy: #3b4b5b;
$navy_1S: lighten($navy, 12%) !default;
$navy_2S: lighten($navy, 30%) !default;
$navy_3S: lighten($navy, 45%) !default;
$navy_4S: lighten($navy, 60%) !default;
$navy_5S: lighten($navy, 66%) !default;

$pink: #ff658b !default;
$pink_1S: lighten($pink, 15%) !default;
$pink_2S: lighten($pink, 25%) !default;

$gold: #ac8c4b !default;
$gold_1S: lighten($gold, 15%) !default;
$gold_2S: lighten($gold, 24%) !default;
$gold_3S: lighten($gold, 33%) !default;
$gold_4S: lighten($gold, 42%) !default;
$gold_5S: lighten($gold, 48%) !default;

$base-text-color: $navy;

$base-background-color: $gold_5S;

$place-name-color: $green;
$area-name-color: $navy_2S;
$genre-name-color: $navy_2S;
