@import "reset";
@import "variable";
@import "place";

.image-circle {
  width: 30px;
  height: 30px;
  border: 2px solid $white;
  border-radius: 50%;
}


body {
  color: $base-text-color;
  font-size: 14px !important;
  line-height: 1.4 !important;
}

.site-header-container {
  width: 980px;
  margin: 0 auto;
}

.breadcrumb {
  width: 980px;
  margin: 0 auto;
}

.content {
  width: 980px;
  margin: 0 auto;
  display: flex;

  &__main {
    flex: 1;
    min-width: 660px;
    margin-right: 20px;
  }

  &__side {
    flex: 1;
    width: 300px;
  }
}

.places {
  .place {
    display: flex;

    .place-thumbnails {
      flex: 1;
      max-width: 235px;;

      &__main {
      }

      &__thumbnails {
        img {
          display: inline;
          width: 75px;
          margin-right: 5px;
        }
        img:last-child{
          margin-right: 0;
        }

      }
    }

    .place-informaton {
      flex: 1;
      margin-left: 15px;

      .place-name {
        font-size: 20px;
        display: inline-block;
        margin-bottom: 10px;
      }

      .place-score {
        margin-bottom: 10px;
      }

      .place-area {
        display: inline-block;
        font-size: 12px;
      }

      .place-genre {
        display: inline-block;
        font-size: 12px;
      }

      .place-lead {
        font-size: 12px;
        margin: 10px 0;
      }
    }

    .place-review-informaton {
      color: $navy_1S;
      margin: 10px 0;

      &__review {
        display: inline-block;
        margin-right: 20px;
        .material-icons {
          color: $gold_1S;
          font-size: 16px;
          vertical-align: middle;
        }
      }

      &__cost {
        display: inline-block;
        .material-icons {
          color: $gold_1S;
          font-size: 16px;
          vertical-align: middle;
        }
      }
    }

    .place-review {
      background-color: $base-background-color;
      padding: 15px;

      &-title-container {
        display: table;
        margin-bottom: 10px;
      }

      &-title {
        color: $navy_1S;
        display: table-cell;
        font-weight: bold;

        &__good-title {
          margin-bottom: 5px;
          &>i {
            color: $green;
          }
        }
        &__warning-title {
          margin-bottom: 5px;
          &>i {
            color: $navy_2S;
          }
        }
        .material-icons {
          font-size: 16px;
          vertical-align: bottom;
        }
      }

      &__type {
        display: table-cell;
        padding-right: 5px;
        white-space: nowrap;

        &>.m__on-the-day {
          background-color: $pink_2S;
          color: $pink;
          display: inline-block;
          text-align: center;
          padding: 5px 7px;
          vertical-align: middle;
        }
      }

      &__body {
        color: $navy_1S;

        margin-bottom: 10px;
      }
    }

    .place-review-contributor {
      color: $navy_2S;
      display: flex;
      &__profile {
        display: flex;
        img {
          flex: 1;
          max-width: 30px;
        }
        div {
          flex: 1;
          margin-left: 5px;
          line-height: 1.2;
        }
        flex: 1;
      }
      &__date {
        flex: 1;
        text-align: right;

        .material-icons {
          font-size: 14px;
          vertical-align: middle;
        }
      }
    }
  }
}

.places-review-ranking {
  .places-review-ranking-places {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: $green_5S;

    .places-review-ranking-place {
      flex: 1;
      max-width: 110px;
      padding: 0 10px;

      img {
        width: 110px;
      }
      &__rank {

        text-align: center;
        margin-bottom: 3px;

        span {
          background-color: $navy_3S;
          color: $white;
          font-size: 12px;
          padding: 3px 5px;
          display: inline-block;

          &.m--1 {
            background-color: $gold_1S;
          }
          &.m--2 {
            background-color: $navy_2S;
          }
          &.m--3 {
            background-color: $gold_2S;
          }
        }
      }

      .place-name {
        font-size: 12px;
        margin-bottom: 5px;
      }

      .place-score {
        @include place-score(12px);
      }
    }
  }
}
