!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'description', content: '実習用のサンプルコードです' }
    %meta{ name: 'viewport', content: 'width=1024' }
    = stylesheet_link_tag 'site'
    %title 実習04のサンプル
  %body

  %h1 SCSS のサンプル
  .places
    .places__user-name.m--current みんなのウェディング
