@import "mixin";
@import "place";

.places {
  border: 1px solid #c6ae7d;
  border-radius: 8px;
  width: 660px;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px #e2d6bd;

  .place {
    border-bottom: 1px solid #c6ae7d;
    &:first-child {
      border-radius: 8px 8px 0 0;
      background-color: #fff2e6;
    }
    &:last-child {
      border: none;
      margin-bottom: 0;
    }
  }
}

.ribbon {
  @include ribbon($riboon-color: #ac8c4b, $background-color: #ffffff, $color: #ffffff);
}
