.place-name {
  color: $place-name-color;
  font-weight: bold;
}

.place-lead {
  color: $navy;
  line-height: 1.6;
}

%place {
  font-size: 14px;
  padding: 10px;
  display: flex;
  box-sizing: border-box;

  h2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }

  .place-thumbnail {
    flex: 1;
    max-width: 125px;
  }

  .place-informaton {
    flex: 2;
    padding-right: 10px;
  }

  .place-name {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .place-area {
    color: $area-name-coor;
    font-size: 12px;
    margin-bottom: 10px;

    &__icon {
      font-size: 14px;
      vertical-align: middle;
    }

    &__name {
      vertical-align: middle;
    }
  }

  .place-lead {
    font-size: 12px;
    line-height: 1.2;
    color: $navy_1S;
    margin-bottom: 10px;
  }

  .ribbon {
    @include ribbon;
    margin-left: -10px;
    margin-bottom: 10px;
    &.m--rank1 {
      background-color: $orange;
      &:after {
        border-color: $orange;
        border-right-color: $orange_2S;
      }
    }
  }
}

.place {
  @extend %place;
}
