!!!
%html
	%head
		%meta{ charset: "UTF-8" }
		%meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
		%meta{ name: "viewport", content: "width=1024" }
		%title 結婚式 - みんなのウェディング
		%meta{ property: "og:title", content: "みんなのウェディング" }
		%meta{ property: "og:site_name", content: "結婚式場選び日本最大級口コミサイト【みんなのウェディング】" }
		%meta{ property: "og:image", content: "/og/logo.gif" }
	%body
		%h1 みんなのウェディング
:pre
<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<meta content='IE=edge' http-equiv='X-UA-Compatible'>
		<meta content='width=1024' name='viewport'>
		<title>結婚式 - みんなのウェディング</title>
		<meta content='みんなのウェディング' property='og:title'>
		<meta content='結婚式場選び日本最大級口コミサイト【みんなのウェディング】' property='og:site_name'>
		<meta content='/og/logo.gif' property='og:image'>
	</head>
	<body>
		<h1>みんなのウェディング</h1>
	</body>
</html>
