$gold_3S: #e2d6bd;
$gold_5S: #f9f7f2;
$green_1S: #58d7bf;
$green_3S: #8ae3d2;
$green_5S: #f5fcfb;
$navy_3S: #b0becc;
$navy_5S: #f7f8fa;

body {
  margin: 0;
  padding: 0;
}

.flex-inline {
  display: inline-flex;
  align-items: center;

  &__text {
  }
  &__image {
    margin-top: 5px;
    margin-left: 5px;
  }
}

.flex-2-1 {
  display: flex;
  &__item {
    flex: 1;
    &_main {
      background-color: $gold_3S;
    }
    &_side {
      background-color: $gold_5S;
    }
  }
}

.flex-2-2 {
  display: flex;
  &__item {
    &_main {
      background-color: $green_3S;
      flex: 0 0 50px;
    }
    &_side {
      background-color: $green_5S;
      flex: 1 1 auto;
    }
  }
}

.flex-2-3 {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  &__item {
    background-color: $green_5S;
    border: 1px solid $navy_3S;
    box-sizing: border-box;
    width: calc((100% / 2) - 5px);
    margin-bottom: 10px;
    &:nth-child(even) {
      margin-left: 10px;
    }
  }
}

.flex-3 {
  display: flex;
  margin-left: -10px;
  padding: 10px;

  &__item {
    background-color: $green_3S;
    flex: 0 1 calc(100% / 3);
    margin-left: 10px;
  }
}
